* {
  outline: none;
}

body {
  margin: 0;
}

button:focus {
  outline: none;
}

.active {
  height: 150px !important;
}

#body_wrap {
  width: 250px;
  height: 300px;
}

#body_wrap p {
  font-size: 13.75px;
  color: #667174;
  font-weight: bold;
  margin: 0;
  padding: 10px;
}

#body_wrap .setting_wrap {
  position: relative;
  margin: 0 38px;
  display: table;
  border-spacing: 10px;
  text-align: center;
}

#body_wrap .setting_wrap .toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: table-row;
}

#body_wrap .setting_wrap .toggle [type="checkbox"] {
  display: none;
}

#body_wrap .setting_wrap .toggle [type="checkbox"] + .custom-checkbox-wrap .check-label #background {
  width: 100%;
  height: 100%;
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0;
}

#body_wrap .setting_wrap .toggle [type="checkbox"]:checked + .custom-checkbox-wrap .check-label .circle {
  left: 25px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: rotateCircle 0.5s ease-out;
          animation: rotateCircle 0.5s ease-out;
}

#body_wrap .setting_wrap .toggle [type="checkbox"]:checked + .custom-checkbox-wrap .check-label #background {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 1;
}

#body_wrap .setting_wrap .toggle label {
  color: #667174;
}

#body_wrap .setting_wrap .toggle .custom-checkbox-wrap {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

#body_wrap .setting_wrap .toggle .custom-checkbox-wrap .check-label {
  position: relative;
  width: 45px;
  height: 20px;
  border-radius: 6.5px;
  background: #b7b7b7;
  overflow: hidden;
  display: block;
  margin: 0px auto;
  -webkit-box-shadow: 1px 1px 6px #525252;
          box-shadow: 1px 1px 6px #525252;
}

#body_wrap .setting_wrap .toggle .custom-checkbox-wrap .check-label .circle {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 50%;
  background: #005AA7;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#FFFDE4), to(#005AA7));
  background: linear-gradient(to right, #FFFDE4, #005AA7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 1px 1px 10px #636363;
          box-shadow: 1px 1px 10px #636363;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 1.9px;
  left: 2.2px;
}

#body_wrap .setting_wrap .toggle span {
  width: 50%;
  line-height: 12px;
  font-size: 12px;
  color: #667174;
  font-family: "NanumGothic";
  font-weight: bold;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

#body_wrap .limitNumWords_wrap p {
  line-height: 12px;
  font-size: 12px;
  color: #667174;
  font-family: "NanumGothic";
  font-weight: bold;
  text-align: center;
}

#body_wrap .limitNumWords_wrap .limit_btnGrp {
  margin-bottom: 10px;
  padding-left: 10px;
}

#body_wrap .limitNumWords_wrap .limit_btnGrp button {
  cursor: pointer;
  border-radius: 10px;
  background: #0F2027;
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  width: 55px;
  height: 25px;
  -webkit-box-shadow: 1px 1px 6px #131313;
  box-shadow: 1px 1px 6px #131313;
  color: white;
  opacity: 0.6;
}

#body_wrap .limitNumWords_wrap .limit_btnGrp button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#body_wrap .limitNumWords_wrap .limit_btnGrp .selected {
  opacity: 1;
}

#body_wrap .levelState_wrap {
  text-align: center;
  margin-bottom: 10px;
}

#body_wrap .levelState_wrap button {
  cursor: pointer;
  border-radius: 10px;
  background: #0F2027;
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  width: 70px;
  height: 25px;
  -webkit-box-shadow: 1px 1px 6px #131313;
  box-shadow: 1px 1px 6px #131313;
  color: white;
  opacity: 0.6;
}

#body_wrap .levelState_wrap button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#body_wrap .levelState_wrap .selected {
  opacity: 1;
}

#body_wrap .myWords_wrap {
  text-align: center;
  margin-bottom: 5px;
}

#body_wrap .myWords_wrap .mywords_btn {
  cursor: pointer;
  border-radius: 10px;
  background: #0F2027;
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  width: 100px;
  height: 25px;
  -webkit-box-shadow: 1px 1px 6px #131313;
  box-shadow: 1px 1px 6px #131313;
  color: white;
}

#body_wrap .myWords_wrap .mywords_btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#body_wrap .exception_wrap {
  text-align: center;
}

#body_wrap .exception_wrap .exceptionLists_btn {
  cursor: pointer;
  border-radius: 10px;
  background: #0F2027;
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  width: 100px;
  height: 25px;
  -webkit-box-shadow: 1px 1px 6px #131313;
  box-shadow: 1px 1px 6px #131313;
  color: white;
}

#body_wrap .exception_wrap .exceptionLists_btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#body_wrap .exception_wrap .exceptionLists {
  height: 0;
  margin: 10px;
  position: relative;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  overflow-y: scroll;
}

#body_wrap .exception_wrap .exceptionLists ul {
  list-style: none;
  padding: 0;
}

#body_wrap .exception_wrap .exceptionLists ul li {
  padding-bottom: 2px;
  border-bottom: 0.3px solid rgba(87, 87, 87, 0.774);
}

#body_wrap .subscription_btn_wrap {
  text-align: center;
}

.refresh_wrap {
  text-align: center;
  display: table-row;
}

.refresh_wrap .refreshDB_wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0px auto;
}

.refresh_wrap #refreshDB {
  width: 45px;
  height: 20px;
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 1px 1px 6px #3b3b3b;
          box-shadow: 1px 1px 6px #3b3b3b;
  border-radius: 10px;
  border: none;
}

.refresh_wrap #refreshDB img {
  width: 100%;
  height: 100%;
}

.refresh_wrap label {
  line-height: 12px;
  font-size: 12px;
  color: #667174;
  font-family: "NanumGothic";
  font-weight: bold;
  vertical-align: middle;
  display: table-cell;
}

.learning_wrap, .language_wrap {
  display: table-row;
  text-align: center;
}

.learning_wrap span, .language_wrap span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #667174;
  font-family: "NanumGothic";
  font-weight: bold;
  line-height: 12px;
  font-size: 12px;
}

.learning_wrap #learningTo, .learning_wrap #language, .language_wrap #learningTo, .language_wrap #language {
  border-radius: 10px;
  overflow: hidden;
  width: 76px;
  height: 20px;
  padding: 10px;
}

.currentStatus_wrap {
  position: relative;
  margin: 0 auto;
  display: table;
  border-spacing: 10px;
  text-align: center;
}

.currentStatus_wrap .unknownWordsStatus, .currentStatus_wrap .knownWordsStatus {
  display: table-row;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.currentStatus_wrap .unknownWordsStatus span, .currentStatus_wrap .knownWordsStatus span {
  display: table-cell;
  width: 48%;
  text-align: center;
  vertical-align: middle;
  color: #667174;
  font-family: "NanumGothic";
  font-weight: bold;
  line-height: 12px;
  font-size: 12px;
}

.currentStatus_wrap .unknownWordsStatus span:nth-child(1), .currentStatus_wrap .knownWordsStatus span:nth-child(1) {
  margin-right: 20px;
}

.testKnownWords {
  display: block;
  cursor: pointer;
  text-align: center;
  outline: none;
}

.testKnownWords button {
  cursor: pointer;
  border-radius: 10px;
  background: #0F2027;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100px;
  height: 25px;
  -webkit-box-shadow: 1px 1px 6px #131313;
          box-shadow: 1px 1px 6px #131313;
  color: white;
}

.testKnownWords button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.flashcard_wrap {
  height: 0;
  border: 1px dashed #0F2027;
  margin: 10px;
  position: relative;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  overflow: hidden;
}

.flashcard_wrap .flashcards {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flashcard_wrap .flashcards .flashcard .flashcard_eng, .flashcard_wrap .flashcards .flashcard .flashcard_pron {
  text-align: center;
}

.flashcard_wrap .flashcards .flashcard .flashcard_eng span, .flashcard_wrap .flashcards .flashcard .flashcard_pron span {
  color: #0F2027;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  font-family: "NanumGothic";
}

.prev_arrow, .next_arrow {
  width: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.prev_arrow img, .next_arrow img {
  width: 100%;
}

.next_arrow {
  right: 0;
}

@-webkit-keyframes rotateCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=popup.css.map */