* {
  outline: none;
}
body {
  margin:0;
}
button:focus {
  outline: none;
}
.active {
  height: 150px !important;
}

#body_wrap {
  width: 250px;
  height: 300px;
  p {
    font-size: 13.75px;
    color: #667174;
    font-weight: bold;
    margin: 0;
    padding: 10px;
  }
  .setting_wrap {
    position: relative;
    margin: 0 38px;
    display: table;
    border-spacing: 10px;
    text-align: center;
    .toggle {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: table-row;
      [type="checkbox"] {
        display: none;
        + .custom-checkbox-wrap .check-label #background {
          width: 100%;
          height: 100%;
          background: #0F2027;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          opacity: 0;
        }
        &:checked {
          + .custom-checkbox-wrap .check-label .circle {
            left: 25px;
            transform-origin: 50% 50%;
            animation: rotateCircle 0.5s ease-out;
          }
          + .custom-checkbox-wrap .check-label #background {
            transition: all 1s ease-out;
            opacity: 1;
          }
        }
      }
      label {
        color: #667174;
      }
      .custom-checkbox-wrap {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        .check-label {
          position: relative;
          width: 45px;
          height: 20px;
          border-radius: 6.5px;
          background: #b7b7b7;
          overflow: hidden;
          display: block;
          margin: 0px auto;
          box-shadow: 1px 1px 6px rgb(82, 82, 82);
          .circle {
            transition: all 0.2s ease-out;
            border-radius: 50%;
            background: #005AA7;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            box-shadow: 1px 1px 10px #636363;
            position: absolute;
            width: 17px;
            height: 17px;
            top:1.9px;
            left: 2.2px;
          }
        }
      }
      
      span {
        width: 50%;
        line-height: 12px;
        font-size: 12px;
        color: #667174;
        font-family: "NanumGothic";
        font-weight: bold;
        vertical-align: middle;
        display: table-cell;
        text-align: center;
      }
    }
  }
  .limitNumWords_wrap {
    p {
      line-height: 12px;
      font-size: 12px;
      color: #667174;
      font-family: "NanumGothic";
      font-weight: bold;
      text-align: center;
    }
    .limit_btnGrp {
      margin-bottom: 10px;
      padding-left: 10px;
      button {
        cursor: pointer;
        border-radius: 10px;
        background: #0F2027;
        background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
        width: 55px;
        height: 25px;
        -webkit-box-shadow: 1px 1px 6px #131313;
        box-shadow: 1px 1px 6px #131313;
        color: white;
        opacity: 0.6;
        &:active {
          transform: translateY(2px);
        }
      }
      .selected {
        opacity: 1;
      }
    }
  }
  .levelState_wrap {
    text-align: center;
    margin-bottom: 10px;
    button {
      cursor: pointer;
      border-radius: 10px;
      background: #0F2027;
      background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
      background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
      width: 70px;
      height: 25px;
      -webkit-box-shadow: 1px 1px 6px #131313;
      box-shadow: 1px 1px 6px #131313;
      color: white;
      opacity: 0.6;
      &:active {
        transform: translateY(2px);
      }
    }
    .selected {
      opacity: 1;
    }
  }
  .myWords_wrap {
    text-align: center;
    margin-bottom: 5px;
    .mywords_btn {
      cursor: pointer;
      border-radius: 10px;
      background: #0F2027;
      background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
      background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
      width: 100px;
      height: 25px;
      -webkit-box-shadow: 1px 1px 6px #131313;
      box-shadow: 1px 1px 6px #131313;
      color: white;
      &:active {
        transform: translateY(2px);
      }
    }
  }
  .exception_wrap {
    text-align: center;
    .exceptionLists_btn {
      cursor: pointer;
      border-radius: 10px;
      background: #0F2027;
      background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
      background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
      width: 100px;
      height: 25px;
      -webkit-box-shadow: 1px 1px 6px #131313;
      box-shadow: 1px 1px 6px #131313;
      color: white;
      &:active {
        transform: translateY(2px);
      }
    }
    .exceptionLists {
      height: 0;
      margin: 10px;
      position: relative;
      transition: all 1s ease-out;
      overflow-y: scroll;
      ul {
        list-style: none;
        padding: 0;
        li {
          padding-bottom: 2px;
          border-bottom: 0.3px solid rgba(87, 87, 87, 0.774)
        }
      }
    }
  }
  .subscription_btn_wrap {
    text-align: center;
  }
}

.refresh_wrap {
  text-align: center;
  display: table-row;
  .refreshDB_wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0px auto;
  }
  #refreshDB {
    width: 45px;
    height: 20px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 1px 6px #3b3b3b;
    border-radius: 10px;
    border: none;
    img {
      width: 100%;
      height: 100%;
    }
  }
  label {
    line-height: 12px;
    font-size: 12px;
    color: #667174;
    font-family: "NanumGothic";
    font-weight: bold;
    vertical-align: middle;
    display: table-cell;
  }
} 

.learning_wrap, .language_wrap {
  display: table-row;
  text-align: center;
  span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #667174;
    font-family: "NanumGothic";
    font-weight: bold;
    line-height: 12px;
    font-size: 12px;
  }
  #learningTo, #language {
    border-radius: 10px;
    overflow: hidden;
    width: 76px;
    height: 20px;
    padding: 10px;
  }
}
.currentStatus_wrap {
  position: relative;
  margin: 0 auto;
  display: table;
  border-spacing: 10px;
  text-align: center;
  .unknownWordsStatus, .knownWordsStatus {
    display: table-row;
    user-select: none;
    span {
      display: table-cell;
      width: 48%;
      text-align: center;
      vertical-align: middle;
      color: #667174;
      font-family: "NanumGothic";
      font-weight: bold;
      line-height: 12px;
      font-size: 12px;
      &:nth-child(1) {
        margin-right: 20px;
      }
    }
  }
  
}
.testKnownWords {
  display: block;
  cursor: pointer;
  text-align: center;
  outline: none;
  button {
    cursor: pointer;
    border-radius: 10px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100px;
    height: 25px;
    box-shadow: 1px 1px 6px rgb(19, 19, 19);
    color: white;
    &:active {
      transform: translateY(2px);
    }
  }
}

.flashcard_wrap {
  height: 0;
  border: 1px dashed #0F2027;
  margin: 10px;
  position: relative;
  transition: all 1s ease-out;
  overflow: hidden;
  .flashcards {
    top: 50%;
    transform: translateY(-50%);
    .flashcard {
      .flashcard_eng, .flashcard_pron {
        text-align: center;
        span {
          color: #0F2027;
          font-size: 16px;
          line-height: 16px;
          font-weight: bold;
          font-family: "NanumGothic"
        }
      }
    }
  }
}
.prev_arrow, .next_arrow {
  width: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  img {
    width: 100%;
  }
}
.next_arrow {
  right: 0;
}
@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}