@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@-webkit-keyframes wordFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes wordFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes drawOut {
  0% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes drawOut {
  0% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes drawIn {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}

@keyframes drawIn {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}

@-webkit-keyframes shaking {
  0% {
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  100% {
    -webkit-transform: rotateX(10deg);
            transform: rotateX(10deg);
  }
}

@keyframes shaking {
  0% {
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  100% {
    -webkit-transform: rotateX(10deg);
            transform: rotateX(10deg);
  }
}

.active {
  display: block !important;
  -webkit-animation: wordFadeIn 1s ease-out;
          animation: wordFadeIn 1s ease-out;
}

.active_drawer {
  right: 0 !important;
}

.closed_drawer {
  right: -400px !important;
}

div#drawer_wrap {
  background: #616161;
  font-family: 'Roboto Mono', monospace;
  position: fixed;
  opacity: 0.5;
  -webkit-box-shadow: -1px -1px 10px #000;
          box-shadow: -1px -1px 10px #000;
  top: 0;
  right: -400px;
  height: 100%;
  width: 250px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  z-index: 9999999;
}

div#drawer_wrap h2 {
  text-align: center;
  margin-top: 70px;
  font-size: 1.4rem;
  color: #ffffff;
  float: none;
}

div#drawer_wrap #edit_voca {
  color: white;
  text-align: right;
  width: 90%;
  margin: 0 auto;
  right: 10px;
  border-radius: 10px;
}

div#drawer_wrap ul {
  list-style: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px;
  padding: 0;
  height: 700px;
  padding: 10px;
  overflow-y: scroll;
}

div#drawer_wrap ul::-webkit-scrollbar {
  width: 3px;
}

div#drawer_wrap ul::-webkit-scrollbar-track {
  background: #0F2027;
}

div#drawer_wrap ul::-webkit-scrollbar-thumb {
  background: #ffffff;
}

div#drawer_wrap ul::-webkit-scrollbar-thumb:hover {
  background: #ffc379;
}

div#drawer_wrap ul li.remind_item {
  cursor: pointer;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
  margin: 10px 0;
}

div#drawer_wrap ul li.remind_item div.remind_word span {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  position: relative;
}

div#drawer_wrap ul li.remind_item div.remind_word span::after {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: 0;
  height: 3px;
  background: #ffc379;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
}

div#drawer_wrap ul li.remind_item div.remind_word:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  text-shadow: 1px 1px 5px #000;
}

div#drawer_wrap ul li.remind_item div.remind_word:hover span::after {
  width: 100%;
}

div#drawer_wrap ul li.remind_item div.remind_word .delItemFromRemind {
  display: none;
  padding: 1px 2px auto;
  color: white;
  background: none;
}

div#drawer_wrap ul li.remind_item div.remind_word .editable {
  display: inline-block;
}

div#drawer_wrap ul li.remind_item div.remind_word .editable ~ span {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: shaking;
          animation-name: shaking;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

div#drawer_wrap ul li.remind_item div.remind_infos {
  margin-top: 10px;
  display: none;
  overflow: hidden;
  font-size: 1rem;
  font-weight: normal;
}

div#drawer_wrap ul li.remind_item div.remind_infos span {
  display: block;
  margin: 3px 0;
}

div#drawer_wrap ul li.remind_item div.remind_infos span.wordMeaning {
  font-size: 0.8rem;
  word-break: keep-all;
}
/*# sourceMappingURL=reminder.css.map */