@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

@keyframes wordFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes drawOut {
    0% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes drawIn {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(400px);
    }
}

@keyframes shaking {
    0% {
        transform: rotateX(-10deg)
    }
    100% {
        transform: rotateX(10deg)
    }
}

.active {
    display: block !important;
    animation: wordFadeIn 1s ease-out;
}
.active_drawer {
    right: 0 !important;
}
.closed_drawer {
    right: -400px !important;
}

div#drawer_wrap {
    background: rgb(97, 97, 97);
    font-family: 'Roboto Mono', monospace;
    position: fixed;
    opacity: 0.5;
    box-shadow: -1px -1px 10px #000;
    top: 0;
    right: -400px;
    height: 100%;
    width: 250px;
    transition: all 1s ease-out;
    z-index: 9999999;
    h2 {
        text-align: center;
        margin-top: 70px;
        font-size: 1.4rem;
        color: #ffffff;
        float: none;
    }
    #edit_voca {
        color: white;
        text-align: right;
        width: 90%;
        margin: 0 auto;
        right: 10px;
        border-radius: 10px;
    }
    ul {
        list-style: none;
        color: #ffffff;
        font-size: 1rem;
        font-weight: bold;
        margin: 10px;
        padding: 0;
        height: 700px;
        padding: 10px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            background: #0F2027;
        }
        &::-webkit-scrollbar-thumb {
            background: #ffffff;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #ffc379;
        }
        li.remind_item {
            cursor: pointer;
            text-align: center;
            text-shadow: 2px 2px 5px #000;
            margin: 10px 0;
            div.remind_word {
                span{
                    transform-origin: 50% 50%;
                    position: relative;
                }
                span::after {
                    transition: all 0.5s ease-out;
                    width: 0;
                    height: 3px;
                    background: #ffc379;
                    position:absolute;
                    bottom: 0;
                    left: 0;
                    content: '';
                }
                &:hover {
                    transform: translateY(2px);
                    text-shadow: 1px 1px 5px #000;
                    span::after {
                        width: 100%;
                    }
                }
                .delItemFromRemind{
                    display: none;
                    padding: 1px 2px auto;
                    color: white;
                    background: none;
                }
                .editable {
                    display: inline-block;
                    &~span {
                        animation-iteration-count: infinite;
                        animation-name: shaking;
                        animation-duration: 0.4s;
                    }
                }
            }
            div.remind_infos {
                margin-top: 10px;
                display: none;
                overflow: hidden;
                font-size: 1rem;
                font-weight: normal;
                span {
                    display: block;
                    margin: 3px 0;
                }
                span.wordMeaning {
                    font-size: 0.8rem;
                    word-break: keep-all;
                }
            }
        } 
    }

}

